<div class="topics">
  <article class="see topic">
    <%= t('board.user') %>: <%= @item.user.name %><br />
    <%= t('board.topic.name') %>: <%= @item.name %><br />
    <%= t('board.topic.text') %>: <%= @item.text %><br />
    <%= link_to t('board.comment.comment'), new_board_topic_parent_comment_path(topic_id: @item.id, parent_id: @item.id) %><br />
  </article>

  <div class="comments">
    <%= render partial: 'board/comments/comment', collection: @item.children, locals: {parent: @item, recursion: true} %>
  </div>
</div>
